@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: 'Playfair Display', serif; */
	outline: none;
	list-style: none;
	text-decoration: none;
	/* border: 1px solid #000; */
}
::-webkit-scrollbar {
    background-color: #262626;
    color: #aba499;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: #303030;
	overflow: hidden;
	position: relative;
}
.nav_ul > .active_link > a {
	color: #b69b66;
}
.activeMap{
	cursor: move;
}

/* HEADER */
.header {
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 150px;
}
.header_title {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_title-text {
	font-size: 36px;
	color: #b69b66;
	font-style: italic;
	font-family: "Playfair Display", serif;
}

.nav {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.nav_ul {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav_li {
	margin-left: 30px;
}
.nav_li > a {
	color: #b5b5b5;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	position: relative;
	transition: 0.3s;
}
.nav_li > a:hover {
	color: #b69b66;
}
.nav_li > a::before {
	content: "";
	background: #b69b66;
	display: block;
	height: 3px;
	position: absolute;
	margin: 0 auto;
	width: 0;
	top: 23px;
	border-radius: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: width 1s;
	-ms-transition: width 1s;
	-webkit-transition: width 1s;
}
.nav_li > a:hover::before {
	width: 100%;
}
.nav_mobileBtn{
	width: 22px;
    height: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
	right: 50px;
}
.nav_mobileBtn-line{
	width: 22px;
    height: 1.5px;
    background-color: #b5b5b5;
    border-radius: 25px;
    transition: 0.3s;
}
.nav_mobileBtn:hover > .nav_mobileBtn-line{
    background-color: #9C8558;
}

/* MAIN BLOCK */
.main_block {
	width: 100%;
	height: 772px;
	padding: 0 150px;
	display: flex;
}
.main_img{
	width: 570px;
	min-width: 570px;
	height: 100%;
	background-image: url(../img/main_photo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.main_img::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(48, 48, 48, 0.4);
}
.main_text {
	width: auto;
	height: 100%;
	z-index: 2;
}
.main_textMobile{
	display: none;
}
.main_title {
	margin-top: 170px;
	margin-left: -10px;
	font-size: 128px;
	line-height: 140px;
	font-style: italic;
	font-family: "Playfair Display", serif;
	color: #9C8558;
}
.main_title  span:nth-child(1) {
	font-weight: bold;
}
.line {
	background-color: #b69b66;
}
.line1 {
	height: 3px;
	width: 550px;
	position: absolute;
	left: 865px;
	top: 240px;
}
.line2 {
	width: 3px;
	height: 360px;
	position: absolute;
	left: 1413px;
	top: 240px;
}
.line3 {
	height: 3px;
	width: 160px;
	position: absolute;
	top: 600px;
	left: 1256px;
}

.main_subtitle-text {
	width: 700px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #b5b5b5;
	margin: 125px 0 0 40px;
	text-indent: 40px;
}


/* ABOUT WRITER */
.aboutWriter{
	width: 100%;
	height: 755px;
	padding: 60px 150px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100%;
	grid-gap: 36px;
}
.aboutWriter_textBlock{
	padding: 39px 26px 0 26px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.aboutWriter_title{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.aboutWriter_title-text{
	font-size: 36px;
	color: #b69b66;
	font-style: italic;
	font-weight: unset;
	margin-bottom: 20px;
	font-family: "Playfair Display", serif;
}
.aboutWriter_title-text>span{
	font-weight: bolder;
}
.aboutWriter_title-subtitle{
	font-size: 20px;
	color: #b5b5b5;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Open Sans', sans-serif;
}
.aboutWriter_text{
	width: 100%;
	height: auto;
	margin-bottom: 35px;
}
.aboutWriter_text-text{
	font-size: 20px;
	color: #b5b5b5;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
}
.aboutWriter_button{
	width: 100%;
	height: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #b69b66;
	text-transform: uppercase;
	letter-spacing: 9px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: inherit;
	background: none;
	color: #b69b66;
	cursor: pointer;
	transition: 0.3s;
}
.aboutWriter_button:hover{
	background-color: #b69b66;
	color: #303030;
}
.aboutWriter_img{
	background-image: url(../img/pexels-photo-5703006.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bio_page {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	opacity: 0;
	padding: 50px 150px;
	background-color: rgba(0, 0, 0, 0.85);
	transition: 0.3s;
}
.bio_page_content {
	width: 100%;
	height: 100%;
	background-color: #303030;
	border-radius: 5px;
	position: relative;
}
.close_bio_button {
	border: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 25px;
	top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	background: transparent;
	cursor: pointer;
}
.close_bio_btn_line {
	width: 100%;
	height: 1.5px;
	background-color: #b5b5b5;
	position: absolute;
	transition: 0.5s;
}
.close_bio_btn_line:nth-child(1) {
	transform: rotate(45deg);
}
.close_bio_btn_line:nth-child(2) {
	transform: rotate(-45deg);
}
.close_bio_button:hover {
	transform: rotate(180deg);
}
.close_bio_button:hover > .close_bio_btn_line{
	background-color: #b69b66;
}

/* SLIDER */
.sliderContainer{
	width: 100%;
	height: 645px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.slider{
	width: 70%;
	height: 400px;
	overflow: hidden;
}
.slides{
	width: 200%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 100%;
	grid-gap: 10px;
	transition: 1s;
	top: 0;
}
.slide{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.slide_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.3s;
}
.slide:hover > .slide_bg{
	transform: scale(1.1);
}
.slide_description{
	width: 100%;
	height: 100%;
	background-color: rgba(48, 48, 48, 0.5);
	opacity: 0;
	z-index: 2;
	transition: 0.3s;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slide_description::before{
	content: "";
	width: 85%;
	height: 90%;
	position: absolute;
	border: 1px solid rgba(181, 181, 181, 0.5);
}
.slide:hover > .slide_description{
	opacity: 1;
}
.slide_description-title{
	font-size: 20px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.arrow{
	width: 40px;
	height: 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	position: absolute;
	margin-bottom: 100px;
}
.arrow_line{
	width: 100%;
	height: 3px;
	background-color: #b5b5b5;
	border-radius: 25px;
	transition: 0.3s;
}
.arrow:hover > .arrow_line{
	background-color: #b69b66;
}
.arrow_line:nth-child(1){
	transform: rotate(-45deg);
	margin-top: 18px;
}
.arrow_line:nth-child(2){
	transform: rotate(45deg);
	margin-bottom: 17px;
}
.arrow_prev{
	left: 100px;
}
.arrow_next{
	right: 100px;
	transform: rotate(180deg);
}
.slider_button{
	width: 225px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b69b66;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: inherit;
    background: none;
    color: #b69b66;
    cursor: pointer;
    transition: 0.3s;
	margin-top: 70px;
}
.slider_button:hover{
	background-color: #b69b66;
	color: #303030;
}
.slide1>.slide_bg{
	background-image: url(../img/pexels-photo-5703006.jpeg);
}
.slide2>.slide_bg{
	background-image: url(../img/main_photo.png);
}
.slide3>.slide_bg{
	background-image: url(../img/pexels-photo-5703006.jpeg);
}
.slide4>.slide_bg{
	background-image: url(../img/main_photo.png);
}
.slide5>.slide_bg{
	background-image: url(../img/pexels-photo-5703006.jpeg);
}
.slide6>.slide_bg{
	background-image: url(../img/main_photo.png);
}




/* DATES */
.dates_block {
	width: 100%;
	height: 620px;
	display: flex;
}
.datesImg {
	background-image: url(../img/cat.jpg);
	background-size: cover;
}
.datesImg_main {
	height: 620px;
	width: 720px;
	min-width: 720px;
}

.datesImg_extra {
	height: 620px;
	width: 150px;
	min-width: 150px;
}
.dates {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 30px 0 50px;
	padding-bottom: 100px;
}
.dates_title {
	font-size: 36px;
	color: #b69b66;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: "Playfair Display", serif;
}
.dates_title > span {
	font-weight: normal;
}
.dates_subtitle{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: "Playfair Display", serif;
	color: #b5b5b5;
	letter-spacing: 8px;
}
.dates_text{
	color: #b5b5b5;
	font-size: 16px;
	font-weight: inherit;
    font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;
}
.dates_button{
	width: 225px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b69b66;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: inherit;
    background: none;
    color: #b69b66;
    cursor: pointer;
    transition: 0.3s;
}
.dates_button:hover{
	background-color: #b69b66;
	color: #303030;
}

/* FOOTER */
.footer {
	width: 100%;
	height: 210px;
	padding: 0 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_text {
	color: #b69b66;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.socialMedia_links {
	height: 30px;
	width: 180px;
	display: flex;
	justify-content: space-between;
}

.link {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.fb {
	background-image: url(../img/facebook.png);
}
.tw {
	background-image: url(../img/twitter.png);
}
.ig {
	background-image: url(../img/instagram.png);
}
.li {
	background-image: url(../img/linkedin.png);
}


/* STYLES FOR MAP */

.mapContent{
	width: 100%;
	height: 732px;
	padding: 0 150px;
}
.mapContent_title{
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
}
.mapContent_title-text{
	font-size: 36px;
	color: #b69b66;
	font-style: italic;
	font-weight: bold;
	font-family: "Playfair Display", serif;
}


/* MAP */
.mapContainer{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.mapContainer::-webkit-scrollbar{
    display: none;
}
.map{
	width: 2000px;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
	display: none;
	opacity: 0;
	transition: 0.5s;
}
.map1{
	background-image: url(../img/cat.jpg);
}
.map2{
	background-image: url(../img/main_photo.png);
}
.map3{
	background-image: url(../img/pexels-photo-5703006.jpeg);
}



/* MAP BUTTONS */
.mapContent_buttons{
	width: 100%;
	height: 135px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.mapContent_buttons-button{
	width: 223px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border: 2px solid #b69b66;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: inherit;
    color: #b69b66;
    cursor: pointer;
    transition: 0.3s;
}
.mapContent_buttons-button:hover{
	background-color: #b69b66;
	color: #303030;
}
.activeButtonMap{
	background-color: #b69b66;
	color: #303030;
}


/* ART WRITER */
.art_filters{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 150px;
}
.art_filtersBlock{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 25px -5px rgb(0, 0, 0, 0.5);
    border-radius: 12px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.art_filtersSpoiler{
	width: 100%;
	height: 50px;
	border-radius: 12px 12px 0 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid rgba(38, 38, 38, 0.5);
	z-index: 3;
}
.art_filtersSpoiler-arrowBlock{
	width: 50px;
	height: 50px;
	border-radius: 12px 0 0 0;
	border: 1px solid #b69b66;
	margin-right: 30px;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.art_filtersSpoiler-arrowBlock:hover{
	background-color: #b69b66;
}
.art_filtersSpoiler-arrow{
	position: relative;
	width: 15px;
	height: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 5px;
	transition: 0.3s;
}
.art_filtersSpoiler-arrowLine{
	width: 80%;
	height: 1.5px;
	background-color: #b69b66;
	position: absolute;
	transition: 0.3s;
}
.art_filtersSpoiler-arrowBlock:hover > .art_filtersSpoiler-arrow > .art_filtersSpoiler-arrowLine{
	background-color: #303030;
}
.art_filtersSpoiler-arrowLine:nth-child(1){
	transform: rotate(45deg) translateX(-5px);
}
.art_filtersSpoiler-arrowLine:nth-child(2){
	transform: rotate(-45deg) translateX(5px);
}
.art_filtersSpoiler-title{
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
	color: #b69b66;
	font-weight: 400;
}
.art_filtersContent{
	width: 100%;
	height: 0;
	border-radius: 0 0 12px 12px;
	padding: 25px;
	margin-top: -50px;
	transition: 0.5s;
	overflow: hidden;
}
.filters_choosen{
	width: 100%;
    height: auto;
	display: none;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 25px;
	opacity: 0;
	transition: 0.3s;
}