<div class="footer">
    <div class="footer_text wow animate__animated animate__fadeInLeft">Privacy & Cookie Policy</div>
    <div class="socialMedia_links wow animate__animated animate__fadeInRight    ">
        <div class="link fb"><a href="#"></a></div>
        <div class="link tw"><a href="#"></a></div>
        <div class="link ig"><a href="#"></a></div>
        <div class="link li"><a href="#"></a></div>
    </div>
</div>