<div class="footer">
    <div class="footer_text">Privacy & Cookie Policy</div>
    <div class="socialMedia_links">
        <div class="link fb"><a href="#"></a></div>
        <div class="link tw"><a href="#"></a></div>
        <div class="link ig"><a href="#"></a></div>
        <div class="link li"><a href="#"></a></div>
    </div>
</div>