<div class="footer">
    <div class="footer_text wow animate__animated animate__fadeInUp">©Lysetsʹkyy Litsey</div>
    <div class="footer_nets wow animate__animated animate__fadeInUp">
        <a href="https://www.facebook.com/LiteraturnaVizytkaKraiu/?ref=page_internal" target="_blank" class="footer_net facebook"></a>
        <a href="https://litvizytka.org.ua/" target="_blank" class="footer_net site"></a>
    </div>
</div>