<!DOCTYPE html>
<html lang="ua">

{{> head }}

<body>
    <div class="container">
        {{{body}}}
        {{> footer}}
    </div>

    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>