<div class="header">
    <div class="header_title">
        <h2 class="header_title-text">Яцків Михайло</h2>
    </div>
    <div class="nav_mobileBtn">
        <div class="nav_mobileBtn-line nav_mobileBtn-lineOne"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineTwo"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineThree"></div>
    </div>
    <div class="nav">
        <div class="nav_ul">
            <div class="nav_li"><a href="/">Головна</a></div>
            <div class="nav_li active_link"><a href="/dates">Дати</a></div>
            <div class="nav_li"><a href="/art">Твори</a></div>
            <div class="nav_li"><a href="/map">Карта</a></div>
        </div>
    </div>
</div>

<div class="dates_content">
    <div class="dates_resultContainer">
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1886</h2>
            <p class="dates_resultBlock-text">
                Здобувши початкові знання в сусідньому містечку Лисець, М. Яцків 
                переходить до однієї із шкіл Станіславова, а в 1886 році стає гімназистом.
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1891</h2>
            <p class="dates_resultBlock-text">
                У 1891-96 роках навчався у Бережанській гімназії, звідки його 
                виключили за участь у таємному молодіжному гуртку.
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1900</h2>
            <p class="dates_resultBlock-text">
                Почав свою творчість 1900 збіркою прозових мініатюр «В царстві сатани: іронічно-сантиментальні 
                картини», навіяні впливами західних модерністів, зокрема Шарля Бодлера й Едгара По, їхнім захопленням «темними» сторінками 
                буття. У манері Яцкова ці мотиви з'являються у формі натуралістичних картин, якими він намагався шокувати, жорстокістю 
                зображення викликати катарсис у читача.
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1902</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків написав повість «Огні горять»
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1907</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків написав «Казка про перстень»
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1909</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків написав «Чорні крила»
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1912</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків написав «Adagio Consolante»
                Молодого письменника з прихильністю привітав Іван Франко, його перші твори високо оцінили Леся Українка та Василь Стефаник.
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1913</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків написав «Блискавиці»
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1921</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків був редактором газети «Рідний край»
            </p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1940 - 1959</h2>
            <p class="dates_resultBlock-text">
                Михайло Яцків працював у Львівській бібліотеці АН УРСР. 
                За останні роки життя Яцків опубліковано такі його твори: «Молоде вино грониться» (1958), 
                «Новелі» (1959) та спогади про І. Франка, В. Стефаника (1946).
            </p>
        </div>
    </div>
    <div class="dates_timelineBlock">
        <div class="dates_timeline-item dates_timeline-itemActive" number="0">
            <p class="dates_timeline-year">1886</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="1">
            <p class="dates_timeline-year">1891</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="2">
            <p class="dates_timeline-year">1900</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="3">
            <p class="dates_timeline-year">1902</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="4">
            <p class="dates_timeline-year">1907</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="5">
            <p class="dates_timeline-year">1909</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="6">
            <p class="dates_timeline-year">1912</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="7">
            <p class="dates_timeline-year">1913</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="8">
            <p class="dates_timeline-year">1921</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="9">
            <p class="dates_timeline-year">1940 - 1959</p>
            <div class="dates_timeline-line"></div>
        </div>
    </div>
    <div class="dates_timelineBlockMbl">
        <div class="dates_mobileBtn">
            <div class="dates_mobileBtn-line dates_mobileBtn-lineOne"></div>
            <div class="dates_mobileBtn-line dates_mobileBtn-lineTwo"></div>
        </div>
        <ul class="dates_timelineBlockMblBlock">
            <li class="dates_timelineBlockMblBlock-item dates_timelineBlockMblBlock-itemActive" number="0">1983</li>
            <li class="dates_timelineBlockMblBlock-item" number="1">1985</li>
            <li class="dates_timelineBlockMblBlock-item" number="2">1988</li>
            <li class="dates_timelineBlockMblBlock-item" number="3">1990</li>
            <li class="dates_timelineBlockMblBlock-item" number="4">1991</li>
            <li class="dates_timelineBlockMblBlock-item" number="5">1994</li>
            <li class="dates_timelineBlockMblBlock-item" number="6">1995</li>
            <li class="dates_timelineBlockMblBlock-item" number="7">1997</li>
            <li class="dates_timelineBlockMblBlock-item" number="8">1998</li>
            <li class="dates_timelineBlockMblBlock-item" number="9">2000</li>
            </il>
    </div>
    <div class="dates_opentimelineBtn">
        <p>></p>
    </div>
</div>

<script src="js/dates.js"></script>
