<div class="dates_content">
    <div class="dates_resultContainer">
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1983</h2>
            <p class="dates_resultBlock-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quasi ea
                earum tempore iure eligendi, nostrum quaerat illum ducimus facere dolores quis delectus culpa nulla
                doloremque nemo corporis optio similique.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1985</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1988</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1990</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1991</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1994</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1995</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1997</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">1998</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
        <div class="dates_resultBlock">
            <h2 class="dates_resultBlock-title">2000</h2>
            <p class="dates_resultBlock-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati
                beatae molestiae deleniti laboriosam minima quia maxime. Possimus at nisi aliquam, minus id eum
                perspiciatis assumenda debitis fugit cupiditate aut.</p>
        </div>
    </div>
    <div class="dates_timelineBlock">
        <div class="dates_timeline-item dates_timeline-itemActive" number="0">
            <p class="dates_timeline-year">1983</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="1">
            <p class="dates_timeline-year">1985</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="2">
            <p class="dates_timeline-year">1988</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="3">
            <p class="dates_timeline-year">1990</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="4">
            <p class="dates_timeline-year">1991</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="5">
            <p class="dates_timeline-year">1994</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="6">
            <p class="dates_timeline-year">1995</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="7">
            <p class="dates_timeline-year">1997</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="8">
            <p class="dates_timeline-year">1998</p>
            <div class="dates_timeline-line"></div>
        </div>
        <div class="dates_timeline-item" number="9">
            <p class="dates_timeline-year">2000</p>
            <div class="dates_timeline-line"></div>
        </div>
    </div>
    <div class="dates_timelineBlockMbl">
        <div class="dates_mobileBtn">
            <div class="dates_mobileBtn-line dates_mobileBtn-lineOne"></div>
            <div class="dates_mobileBtn-line dates_mobileBtn-lineTwo"></div>
        </div>
        <ul class="dates_timelineBlockMblBlock">
            <li class="dates_timelineBlockMblBlock-item dates_timelineBlockMblBlock-itemActive" number="0">1983</li>
            <li class="dates_timelineBlockMblBlock-item" number="1">1985</li>
            <li class="dates_timelineBlockMblBlock-item" number="2">1988</li>
            <li class="dates_timelineBlockMblBlock-item" number="3">1990</li>
            <li class="dates_timelineBlockMblBlock-item" number="4">1991</li>
            <li class="dates_timelineBlockMblBlock-item" number="5">1994</li>
            <li class="dates_timelineBlockMblBlock-item" number="6">1995</li>
            <li class="dates_timelineBlockMblBlock-item" number="7">1997</li>
            <li class="dates_timelineBlockMblBlock-item" number="8">1998</li>
            <li class="dates_timelineBlockMblBlock-item" number="9">2000</li>
            </il>
    </div>
    <div class="dates_opentimelineBtn">
        <p>></p>
    </div>
</div>

<script src="js/dates.js"></script>
