<div class="header">
    <div class="header_title wow animate__animated animate__fadeInLeft">
        <h2 class="header_title-text">Яцків Михайло</h2>
    </div>
    <div class="nav_mobileBtn">
        <div class="nav_mobileBtn-line nav_mobileBtn-lineOne"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineTwo"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineThree"></div>
    </div>
    <div class="nav wow animate__animated animate__fadeInRight">
        <div class="nav_ul">
            <div class="nav_li active_link"><a href="/">Головна</a></div>
            <div class="nav_li"><a href="/dates">Дати</a></div>
            <div class="nav_li"><a href="/art">Твори</a></div>
            <div class="nav_li"><a href="/map">Карта</a></div>
        </div>
    </div>
</div>

<div class="main_block">
    <div class="main_textMobile">
        <div class="main_titleMobile">Яцків <br />Михайло </div>
        <div class="line_mobile line1_mobile"></div>
        <div class="line_mobile line2_mobile"></div>
        <div class="line_mobile line3_mobile"></div>
    </div>
    <div class="main_img wow animate__animated animate__fadeIn"></div>
    <div class="line line1 wow animate__animated animate__fadeIn"></div>
    <div class="line line2 wow animate__animated animate__fadeIn"></div>
    <div class="line line3 wow animate__animated animate__fadeIn"></div>
    <div class="main_text">
        <h2 class="main_title wow animate__animated animate__fadeIn">Яцків <br />Михайло</h2>
        <p class="main_subtitle-text wow animate__animated animate__fadeInBottomRight">
            "Настала пора, що криє поза людською увагою. Статуї сходили зі скамій і шкандибали
            до винного шинку, на старім цвинтарищи повставали монахи, відвалили камінь від гробниці монахинь і лізли доних на розпуст." 
        </p>
    </div>
</div>
<div class="aboutWriter">
    <div class="aboutWriter_textBlock wow animate__animated animate__fadeInLeft">
        <div class="aboutWriter_title">
            <h2 class="aboutWriter_title-text"><span>Біографія</span></h2>
            <p class="aboutWriter_title-subtitle">1873-1961</p>
        </div>
        <div class="aboutWriter_text">
            <p class="aboutWriter_text-text">
                Народився Михайло Юрійович Яцків 5 жовтня 1873 року в селі
                Лесівка біля Станіславова (сьогодні Івано-Франківськ) у
                селянській родині. Здобувши початкові знання в сусідньому
                містечку Лисець, М. Яцків переходить до однієї із шкіл
                Станіславова, а в 1886 році стає гімназистом. З 1891року
                навчався у Бережанській гімназії. В другій половині 1896
                року М. Яцків став актором мандрівного театру, яким
                керував Степан Курбас-Янович.
            </p>
        </div>
        <button class="aboutWriter_button">більше</button>
    </div>
    <div class="aboutWriter_img wow animate__animated animate__fadeInRight"></div>
    <div class="aboutWriter_more">
        <div class="aboutWriter_moreBlock">
            <div class="aboutWriter_moreBlock-img"></div>
            <div class="aboutWriter_moreTextBlock" style="display: flex;">
                <p class="aboutWriter_moreBlock-text">
                    Народився у селі Лесівка Богородчанського повіту (нині Богородчанський район Івано-Франківської області) 
                    у селянській родині. Батько - Юрко Яцків, родом із Посічі, був людиною освіченою, читав твори Шевченка, 
                    Франка, Квітки-Основ’яненка, знав безліч казок, оповідань і притч, які передав у спадок першому своєму синові.  
                    Мати була зі Старих Богородчан. Крім Михайла в сім’ї народилося ще 11 дітей. Родина жила у нестатках, як і багато 
                    інших селянських родин нашого краю. «На батьківщині, в с.Лесівка Богородчанського району, створено кімнатку-музей 
                    М.Яцківа при школі, 2001 року тут відкрито пам’ятну дошку письменникові. У 2001 році з метою популяризації кращих 
                    творів літератури, культури, піднесення ролі діячів культури і мистецтва краю в державотворчих процесах, утвердження 
                    високих гуманістичних ідеалів в українському суспільстві райдержадміністрацією та районною радою засновано Богородчанську 
                    районну премію ім. М.Яцківа. 2016 року Богородчанській центральній районній бібліотеці присвоєно ім'я Михайла Яцківа.
                    У своїх творах М. Яцків прославляє богородчанську землю, в його оповіданнях є описи побуту, торгових рядів і крамничок 
                    богородчанської дійсності кінця ХІХ – початку ХХ століття. 
                </p>
            </div>
        </div>
        <div class="aboutWriter_moreBlock">
            <div class="aboutWriter_moreTextBlock">
                <p class="aboutWriter_moreBlock-text"> 
                    Ось що класик української літератури писав про околиці Богородчан: «Дорога в’ється під гору. Зливи поробили глибокі 
                    вибоїни по боках. Сонце парить, в’ялить траву. Карпати мріють, опорошені голубим сяйвом. Вниз опадають рівно царини 
                    жовтими, зеленими і білими лавами, на них – острови садів та верхи стріх, далі срібляста стьожка – ріка Бистриця, а 
                    за нею містечко» («У наймах»).» Закінчив початкову школу в містечку Лисець (нині селище Лисець, Івано-Франківський район, 
                    Івано-Франківської області ). Вивчення літератури, архівних матеріалів засвідчує, що в 1882 – 1891 роках у Лисці діяла 
                    двокласна школа для хлопців з українською та польською мовами навчання, яку й відвідував Михайло Яцків.
                    У вересні 1886 року вступив до Станіславської вищої гімназії. Станиславівська державна гімназія, або Станиславівська цісарсько. 
                    -королівська гімназія — колишній середній навчальний у Станиславові (тепер Івано-Франківськ). 
                </p>
            </div>
            <div class="aboutWriter_moreBlock-img"></div>
            <div class="aboutWriter_moreTextBlock aboutWriter_moreTextBlock-mobile">
                <p class="aboutWriter_moreBlock-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
                    porro blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores
                    expedita illum odit, doloribus totam aliquam amet quisquam vero deserunt non! Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Numquam porro blanditiis voluptatem voluptates, dignissimos
                    repellendus soluta voluptatibus animi dolores expedita illum odit, doloribus totam aliquam amet
                    quisquam vero deserunt non! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam porro
                    blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores expedita
                    illum odit, doloribus totam aliquam amet quisquam vero deserunt non! Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Numquam porro blanditiis voluptatem voluptates, dignissimos
                    repellendus soluta voluptatibus animi dolores expedita illum odit, doloribus totam aliquam amet
                    quisquam vero deserunt non! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam porro
                    blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores expedita
                    illum odit, doloribus totam aliquam amet quisquam vero deserunt non! 
                </p>
            </div>
        </div>
        <div class="aboutWriter_moreBlock">
            <div class="aboutWriter_moreBlock-img"></div>
            <div class="aboutWriter_moreTextBlock" style="display: flex;">
                <p class="aboutWriter_moreBlock-text">
                    З 1891року навчався у Бережанській гімназії, (середньому  навчальному закладі у Бережанах Тернопільської
                    області, що відіграв помітну роль у духовному розвитку Східної Галичини). Михайла Яцківа виключили 1896року
                    за участь у таємному молодіжному гуртку. з останнього класу гімназії без права вступу до інших на-вчальних закладів. 
                    В другій половині 1896 року М. Яцків став актором мандрівного театру, яким керував Степан Курбас-Янович. 
                    «По тім виступав у театрах Львова. І мав неабиякий успіх. Франко зворушено дякував йому за роль Миколи Задорожного
                    в «Украденому щасті». Лише єдиний здобуток тих літ – досвід, неоціненне набуття життєвого багажу, який заяскрів 
                    барвами художніх образів, переконливих, як саме буття людини.» В 1897 році поступає на роботу в страхово-кредитне 
                    товариство “Дністер”. Працює писарем, а після складення спеціальних бухгалтерських іспитів у Торговельній академії
                    – рахівником. Разом з цим він працював у театрі і користувався великим успіхом у глядачів. 
                </p>
            </div>
        </div>
        <div class="aboutWriter_moreBlock">
            <div class="aboutWriter_moreTextBlock">
                <p class="aboutWriter_moreBlock-text">
                    З 1899 року М. Яцків завдяки І. Франкові працює по сумісництву в Науковому товаристві ім. Шевченка у Львові 
                    в “Літературно-науковому віснику” і видавництві “Русько-українська спілка”. Настала війна, письменника забрали
                    в австрійську армію, і творчі плани залишились нездійсненими. В армії М. Яцків був рядовим солдатом і фронтового 
                    лиха зазнав повною мірою. В грудні 1914 року М. Яцків здався в російський полон, в якому перебував дуже короткий 
                    час. В числі інших полонених його було відправлено в тил. 1921 року Яцків був редактором газети «Рідний край», 
                    а після 1940 працював у Львівській бібліотеці АН УРСР (сьогодні – Львівська наукова бібліотека ім. В. Стефаника НАН України). 
                    В останні роки життя став членом Спілки письменників України. Помер 9 грудня 1961 року на 89-му році життя. 
                    Похований на Личаківському кладовищі у м. Львові. «Біля центрального входу причаївся скромний надгробок. 
                    Але навіть серед скульптурних шедеврів славнозвісного Львова, кожен хто його побачить, мимоволі зупиняється 
                    і затримує на ньому увагу. На барельєфі – обличчя людини, а над ним – фрагмент млинового колеса. Не випадково 
                    львівський скульптор Євген Дзиндра обрав саме цей символ для пам'ятника українському письменникові Михайлові Яцківу. 
                    Він тонко вловив одну з найхарактерніших рис його характеру: життєлюбство.»
                </p>
            </div>
            <div class="aboutWriter_moreBlock-img"></div>
            <div class="aboutWriter_moreTextBlock aboutWriter_moreTextBlock-mobile">
                <p class="aboutWriter_moreBlock-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
                    porro blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores
                    expedita illum odit, doloribus totam aliquam amet quisquam vero deserunt non! Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Numquam porro blanditiis voluptatem voluptates, dignissimos
                    repellendus soluta voluptatibus animi dolores expedita illum odit, doloribus totam aliquam amet
                    quisquam vero deserunt non! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam porro
                    blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores expedita
                    illum odit, doloribus totam aliquam amet quisquam vero deserunt non! Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Numquam porro blanditiis voluptatem voluptates, dignissimos
                    repellendus soluta voluptatibus animi dolores expedita illum odit, doloribus totam aliquam amet
                    quisquam vero deserunt non! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam porro
                    blanditiis voluptatem voluptates, dignissimos repellendus soluta voluptatibus animi dolores expedita
                    illum odit, doloribus totam aliquam amet quisquam vero deserunt non!</p>
            </div>
        </div>
        <div class="aboutWriter_moreClose-btn">
            <div class="aboutWriter_moreClose-line"></div>
            <div class="aboutWriter_moreClose-line"></div>
        </div>
    </div>
</div>
<div class="sliderContainer">
    <div class="slider wow animate__animated animate__fadeIn">
        <div class="slides">
            <div class="slide slide1">
                <div class="slide_bg"></div>
                <div class="slide_description">
                    <h2 class="slide_description-title">Новели</h2>
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide_bg"></div>
            </div>
            <div class="slide slide3">
                <div class="slide_bg"></div>
                <div class="slide_description">
                    <h2 class="slide_description-title">Химерний<br /> Яцків</h2>
                </div>
            </div>
            <div class="slide slide4">
                <div class="slide_bg"></div>
            </div>
            <div class="slide slide5">
                <div class="slide_bg"></div>
                <div class="slide_description">
                    <h2 class="slide_description-title">Муза<br /> на<br /> чорному<br /> коні</h2>
                </div>
            </div>
            <div class="slide slide6">
                <div class="slide_bg"></div>
            </div>
        </div>
    </div>
    <div class="arrow arrow_prev wow animate__animated animate__fadeIn">
        <div class="arrow_line"></div>
        <div class="arrow_line"></div>
    </div>
    <div class="arrow arrow_next wow animate__animated animate__fadeIn">
        <div class="arrow_line"></div>
        <div class="arrow_line"></div>
    </div>
    <a class="slider_button wow animate__animated animate__fadeInUp" href="art.html">Більше творів</a>
</div>
<div class="dates_block">
    <div class="datesImg datesImg_main"></div>
    <div class="dates">
        <h2 class="dates_title wow animate__animated animate__fadeIn">Creative <span>form in our</span> design</h2>
        <h3 class="dates_subtitle wow animate__animated animate__fadeIn">apartments<br /> villas</h3>
        <p class="dates_text wow animate__animated animate__fadeIn">САНЯ ЛЮБИТЬ ПЕНІС</p>
        <a href="dates.html" class="dates_button wow animate__animated animate__fadeInUp">Переглянути</a>
    </div>
    <div class="datesImg datesImg_extra"></div>
</div>

<script src="js/biography.js"></script>
<script src="js/slider.js"></script>

